<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-wrapper" style="min-height: 1200.88px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Clients</h1>
                </div>

                
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">DashBoared</a></li>
                        <li class="breadcrumb-item active">Clients</li>
                    </ol>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" *ngIf="message">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-check"></i> Alert!</h5>
                {{message}}
              </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Clients</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                        title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body p-0" style="display: block;">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%" >
                                #
                            </th>
                            <th style="width: 5%" class="text-center">
                                Login
                            </th>
                            <th style="width: 5%" class="text-center">
                                Password
                            </th>
                            <th style="width: 5%"class="text-center" >
                                Nom
                            </th>
                            <th style="width: 5%" class="text-center" >
                                Prenom
                            </th>
                            <th style="width: 5%" class="text-center" > 
                                mail
                            </th>
                            <th style="width: 5%" class="text-center">
                                Adresse
                            </th>
                            <th style="width: 5%" class="text-center">
                                tel
                            </th>
                            <th style="width: 5%"class="text-center">
                                Reference
                            </th>
                            <th style="width: 5%" class="text-center">
                                Nationnalié
                            </th>
                            <th style="width: 5%" class="text-center" >
                                Profile
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of clients;">
                            <td>
                               {{client.id}}
                            </td>
                            <td>
                                {{client.login}}
                            </td>
                            <td>
                                {{client.pwd}}
                            </td>
                            <td>
                                {{client.nom}}
                            </td> 
                            <td>
                                {{client.prenom}}
                            </td>
                            <td>
                                {{client.mail}}
                            </td>
                            <td>
                                {{client.adresse}}
                            </td> 
                            <td>
                                {{client.tel}}
                            </td>
                            <td>
                                {{client.reference}}
                            </td>
                            <td>
                                {{client.nationnalite}}
                            </td>
                            <td>
                                {{client.profile}}
                            </td>
                            <td class="project-actions text-right">
                                <button class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </button>
                                <button class="btn btn-info btn-sm" (click)="updateClient(client.id)"  >
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </button>
                                <button class="btn btn-danger btn-sm" (click)="deleteClient(client.id)">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</div>
<app-dashfooter></app-dashfooter>