<form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
      <img src="../assets/img/logo_md.png" class="hires" width="181" height="50">
    </div>

    <div class="container">
      <label style="color: #903476;" for="uname"><b>Username</b></label>
      <input type="text" [(ngModel)]="login"  placeholder="Enter Username" name="uname" required>

      <label  style="color: #903476;"  for="psw"><b>Password</b></label>
      <input type="password" [(ngModel)]="pwd" placeholder="Enter Password" name="psw" required>
        
      <button style="  display: block; margin : auto;" class="btn btn-primary" (click)="loginuser ()" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button  style="display: block; margin : auto;" type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-primary"  >Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>