<head>

</head>
<!--  <section class="probootstrap-section " style="position: inherit;">-->
    <app-header></app-header>
<div class="cincopa_responsive_iframe" style="padding:56.25% 0 0 0;position:relative;">
    <div class="cincopa_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe
            width="100%" height="100%" src="//www.cincopa.com/media-platform/iframe.aspx?fid=AwGADqeL-2cK"
            frameborder="0" allowfullscreen scrolling="no"></iframe><noscript><span>New Gallery
                2020/5/16</span><span>Atlantis Hotel </span><span> Profitez du confort de nos hôtel 4
                étoiles</span><span>height</span><span> 680</span><span>width</span><span>
                1020</span><span>Double-double</span><span>height</span><span> 1067</span><span>width</span><span>
                1600</span><span> Triple Room</span><span>height</span><span> 683</span><span>width</span><span>
                1024</span><span>Double Room</span><span>height</span><span> 683</span><span>width</span><span>
                1024</span></noscript></div>
</div>
<section class="probootstrap-cta probootstrap-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="probootstrap-cta-heading">Reserve a room for your family <span> — Far far away behind the
                        word mountains far.</span></h2>
                <div class="probootstrap-cta-button-wrap"><a href="#" class="btn btn-primary">Reserve now</a></div>
            </div>
        </div>
    </div>
</section>
<section class="probootstrap-section " style="position: inherit;">
    <div class="container">
        <div class="row mb30">
            <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center" style="left: 20%;">
                <h2>Best Rooms</h2>
                <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts.</p>
                <p><img src="../assets/img/curve.svg" class="svg" alt="Free HTML5 Bootstrap Template"></p>
            </div>
        </div>
        <div class="row probootstrap-gutter10">
            <div class="col-md-6">
                <div class="probootstrap-block-image-text">
                    <figure>
                        <a href="../assets/img/triplroom.jpg" class="image-popup">
                            <img src="../assets/img/triplroom.jpg" alt="Free HTML5 Bootstrap Template by uicookies.com"
                                class="img-responsive">
                        </a>
                        <div class="actions">
                            <a href="https://vimeo.com/45830194" class="popup-vimeo"><i class="icon-play2"></i></a>
                        </div>
                    </figure>
                    <div class="text">
                        <h3><a href="#">Grand Deluxe Room</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Reviews</li>
                                <li><i class="icon-user2"></i> 3 Guests</li>
                            </ul>
                        </div>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                        <p><a href="#" class="btn btn-primary">Book now from $109</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="probootstrap-block-image-text">
                    <figure>
                        <a href="../assets/img/double.jpg" class="image-popup">
                            <img src="../assets/img/double.jpg" alt="Free HTML5 Bootstrap Template by uicookies.com"
                                class="img-responsive">
                        </a>
                        <div class="actions">
                            <a href="https://vimeo.com/45830194" class="popup-vimeo"><i class="icon-play2"></i></a>
                        </div>
                    </figure>
                    <div class="text">
                        <h3><a href="#">Ultra Superior Room</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Reviews</li>
                                <li><i class="icon-user2"></i> 3 Guests</li>
                            </ul>
                        </div>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                        <p><a href="#" class="btn btn-primary">Book now from $109</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="probootstrap-half">
    <div class="image" style="background-image: url(../assets/img/slider_2.jpg);"></div>
    <div class="text">
        <div class="probootstrap-animate fadeInUp probootstrap-animated">
            <h2 class="mt0">Best 5 Star hotel</h2>
            <p><img src="../assets/img/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
            <div class="row">
                <div class="col-md-6">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                        Semantics, a large language ocean.</p>
                </div>
                <div class="col-md-6">
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
            <p><a href="#" class="link-with-icon white">Learn More <i class=" icon-chevron-right"></i></a></p>
        </div>
    </div>
</section>
<app-footer></app-footer>